.DS_Store
package-lock.json
node_modules/
build/
dist/
.svelte-kit/
.netlify/
/package
.wrangler
.env
.env.*
!.env.example
.dev.vars
.dev.vars.*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
certificates/
.ssh
.turbo/
