@forward './animations.scss';

$bp-s: 'min-width: 568px';
$bp-m: 'min-width: 768px';
$bp-l: 'min-width: 900px';
$bp-xl: 'min-width: 1200px';
$bp-xxl: 'min-width: 1400px';
$bp-xxxl: 'min-width: 1920px';

html {
	--size-1: 2px;
	--size-2: 4px;
	--size-3: 8px;
	--size-4: 12px;
	--size-5: 20px;
	--size-6: 32px;
	--size-7: 52px;
	--size-8: 84px;
	--size-9: 136px;
	--c-accent: hsl(184, 86%, 52%);
	--c-primary: hsl(198, 61%, 23%);
	--c-text-1: hsl(187, 50%, 85%);
	--c-text-2: hsl(184, 43%, 52%);
	--c-od-text-1: hsl(235, 100%, 11%);
	--c-base: hsl(241, 10%, 12%);

	@media screen and ($bp-m) {
		--size-1: 4px;
		--size-2: 8px;
		--size-3: 12px;
		--size-4: 20px;
		--size-5: 32px;
		--size-6: 52px;
		--size-7: 84px;
		--size-8: 136px;
		--size-9: 220px;
	}
}

$lw: 2px;

$s1: 4px;
$s2: 8px;
$s3: 12px;
$s4: 20px;
$s5: 32px;
$s6: 52px;
$s7: 84px;
$s8: 136px;
$s9: 220px;
$sd1: var(--size-1);
$sd2: var(--size-2);
$sd3: var(--size-3);
$sd4: var(--size-4);
$sd5: var(--size-5);
$sd6: var(--size-6);
$sd7: var(--size-7);
$sd8: var(--size-8);
$sd9: var(--size-9);

$c-accent: var(--c-accent);
$c-primary: var(--c-primary);
$c-text-1: var(--c-text-1);
$c-text-2: var(--c-text-2);
$c-base: var(--c-base);
$c-od-text-1: $c-base;
