body {
	font-size: 14px;
	font-family: 'Spline Sans Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
li {
	text-align: left;
	max-width: 768px;
}

.sub-heading {
	font-size: 16px;
	font-weight: 400;
}

.giant,
.title1,
.title2,
.title3,
.title4,
.title5,
.title6 {
	margin-bottom: $sd4;
}

.giant {
	line-height: 1;
}
.title1 {
	line-height: 1.2;
	font-size: 40px;
	font-weight: 700;
}
.title2 {
	line-height: 1.2;
	font-size: 36px;
	font-weight: 700;
}
.title3 {
	line-height: 1.2;
	font-size: 32px;
	font-weight: 700;
}
.title4 {
	line-height: 1.2;
	font-size: 28px;
	font-weight: 700;
}
.title5 {
	line-height: 1.4;
	font-size: 24px;
	font-weight: 700;
}
.title6 {
	line-height: 1.4;
	font-size: 20px;
	font-weight: 700;
}

@media only screen and ($bp-m) {
	body {
		font-size: 16px;
	}

	.sub-heading {
		font-size: 20px;
	}

	.giant {
		font-size: 128px;
	}

	.title1 {
		font-size: 64px;
	}

	.title2 {
		font-size: 52px;
	}

	.title3 {
		font-size: 48px;
	}

	.title4 {
		font-size: 36px;
	}

	.title5 {
		font-size: 32px;
	}

	.title6 {
		font-size: 28px;
	}
}
body {
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
li {
	text-align: left;
	max-width: 768px;
}

.sub-heading {
	font-size: 16px;
	font-weight: 400;
}

.giant {
	line-height: 1;
}
.title1 {
	line-height: 1.2;
	font-size: 40px;
	font-weight: 700;
}
.title2 {
	line-height: 1.2;
	font-size: 36px;
	font-weight: 700;
}
.title3 {
	line-height: 1.2;
	font-size: 32px;
	font-weight: 700;
}
.title4 {
	line-height: 1.2;
	font-size: 28px;
	font-weight: 700;
}
.title5 {
	line-height: 1.4;
	font-size: 24px;
	font-weight: 700;
}
.title6 {
	line-height: 1.4;
	font-size: 20px;
	font-weight: 700;
}

@media only screen and ($bp-m) {
	body {
		font-size: 16px;
	}

	.sub-heading {
		font-size: 20px;
	}

	.giant {
		font-size: 128px;
	}

	.title1 {
		font-size: 64px;
	}

	.title2 {
		font-size: 52px;
	}

	.title3 {
		font-size: 48px;
	}

	.title4 {
		font-size: 36px;
	}

	.title5 {
		font-size: 32px;
	}

	.title6 {
		font-size: 28px;
	}
}
