@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

body {
	font-size: 20px;
	font-family: 'Red Hat Text', sans-serif;
}

h1,
.heading1,
h2,
.heading2,
h3,
.heading3,
h4,
.heading4,
h5,
.heading5,
h6,
.heading6 {
	margin-bottom: 1rem;
	max-width: 50ch;
}

p {
	max-width: 80ch;
	margin-bottom: 2rem;
}

h1,
.heading1 {
	font-size: 36px;
	line-height: 40px;
	font-weight: 600;
	letter-spacing: -0.01em;
}

h2,
.heading2 {
	font-size: 32px;
	line-height: 40px;
	font-weight: 600;
	letter-spacing: 0em;
}

h3,
.heading3 {
	font-size: 28px;
	line-height: 36px;
	font-weight: 600;
	letter-spacing: 0em;
}

h4,
.heading4 {
	font-size: 28px;
	line-height: 40px;
	font-weight: 600;
	letter-spacing: 0em;
}

h5,
.heading5 {
	font-size: 24px;
	line-height: 40px;
	font-weight: 600;
	letter-spacing: 0em;
}

h6,
.heading6 {
	font-size: 20px;
	line-height: 36px;
	font-weight: 600;
	letter-spacing: 0em;
}

p,
button,
.body {
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	letter-spacing: 0em;
}

.small {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: 0em;
}

.very-small {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: 0em;
}

@media (min-width: 768px) {
	h1,
	.heading1 {
		font-size: 64px;
		line-height: 72px;
	}
	h2,
	.heading2 {
		font-size: 52px;
		line-height: 64px;
	}
	h3,
	.heading3 {
		font-size: 44px;
		line-height: 60px;
	}
	h4,
	.heading4 {
		font-size: 36px;
		line-height: 52px;
	}
	h5,
	.heading5 {
		font-size: 32px;
		line-height: 52px;
	}
	h6,
	.heading6 {
		font-size: 24px;
		line-height: 44px;
	}
	p,
	button,
	.body {
		font-size: 20px;
		line-height: 32px;
	}
	.small {
		font-size: 16px;
		line-height: 24px;
	}
	.very-small {
		font-size: 12px;
		line-height: 20px;
	}
}
