@use "sass:map" as *;
@use "./design-system.scss" as *;

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.material-icon {
	display: none;
}
#global-wrapper.showIcons {
	.material-icon {
		display: unset;
		font-family: "Material Symbols Outlined" !important;
		font-display: swap;
		white-space: pre !important;
		font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 32;
	}
}

.main-page-section {
	padding-top: $s6;
	padding-bottom: $s8;
}

.secondary,
.secondary-light {
	color: $c-text-sl;
}
.secondary-light {
}

.eyebrow {
	text-transform: uppercase;
	background-color: $c-text-sl;
	color: $c-base;
	padding: 0 $s2;
	@extend .tooltip, .secondary;
}

.glass {
	color: $c-text-ml;
	background-color: transparent;
	backdrop-filter: blur(20px);
}

.shadow-low {
	@include shadow-low;
}
.shadow-mid {
	@include shadow-mid;
}
.shadow-high {
	@include shadow-high;
}

.custom-scrollbar {
	scrollbar-color: transparent;

	&::-webkit-scrollbar {
		width: $s2;
		background: transparent;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: transparent;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: $c-primary;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: $c-accent;
	}
}

.container {
	align-self: center;
	margin-left: $s5;
	margin-right: $s5;
	max-width: 1168px;

	& > * {
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and ($bp-m) {
		margin-left: $s6;
		margin-right: $s6;
	}

	@media screen and ($bp-l) {
		margin-left: $s7;
		margin-right: $s7;
	}

	@media screen and ($bp-xxl) {
		margin-left: $s8;
		margin-right: $s8;
	}

	@media screen and ($bp-xxxl) {
		min-width: 1168px;
		margin-left: auto;
		margin-right: auto;
	}
}
