@use 'sass:map' as *;
@use './design-system.scss' as *;
@import './global-classes.scss';
@import './typography.scss';

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: font-weight 200ms;
}

a,
a:visited {
	color: $c-accent;
}

fieldset {
	border: none;
	display: flex;
	flex: 0 1 auto;
	flex-wrap: wrap;
	gap: $s4;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: $c-text-ml;
	line-height: 1.5;
	background-color: $c-base;
}

legend,
label {
	margin-bottom: $s2;
}

.gradient-border {
	height: 2px;
	min-height: 2px;
	width: 100%;
	opacity: 0.3;
	background: linear-gradient(90deg, transparent, $c-accent, transparent);
}

article {
	margin-top: $sd7;
	scroll-margin-top: $s7;
}
